/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  min-width: 80%;
  width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #DB4367;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  font-family: "Courier New";
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  font-family: "Courier New";
  width: 100%;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
  z-index: 999;
  position: relative;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

#talks {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    display: flex;
    width:100%;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
/* #talks::after {
  content: "";
  flex: auto;
} */
#talks li{
    /* border: 1px dotted #ccc; */
    width: 300px;
    margin: 0 auto 1rem;
}
#talks img{

    background-color: #ccc;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAADICAYAAABS39xVAAAK5UlEQVR4nO2d0VLiShBAOyGyu4i6//+PaxWKqxJC7sNWcscwxCRMMt3MOS96DwJRusLMWS5kf/78qQUAwAC5iEiWZeJ+dZnifLd3jbNCqL9fak7DMeBsuKJ7guCkNY26/rdQdY8ZN9w1/13X9dks4HCte35+ZksIACbIm2c79+sQ1718Lte9DHdbbur84dJ0GdEdAKxwMbqH6EihA9wct4nT5QD6mK1hdaPZrTuYhqbHEKffEd0BwAxEd1xUpyno4vQ7ojsAmGHSK92HMkekPdvTKnJjfxccHRDGMfmV7t/RLOPc64ZwrtfkXHDX/ctvXeuJvDhdLheAiGg6eeL0u9miu0sKbujfBRf/scLZdUR3ADAD0Z3orsoB9EF0D+RccER33DyO6A5R0XTyxOl3RPdATkPAtui6l+FwfY7oDgBmKET+Lb2a/aLbj1zn9pul9659TUuDC/374nA4vysa2YgxsXQJuifS7glVg+seL26c0/Ckg7PheHsZADCD+reXwd22616Gw/U5ojsAmIHoHsCF/n1xOJzfEd0DuO7x4sY5DU86OBuO6A4AZiC646K67mU4XJ8jugOAGYjuAVzo3xeHw/kd0T2A6x4vbpzT8KSDs+GI7gBgBqI7LqrrXobD9TmiOwCYgegewIX+fXE4nN8R3QO47vHixjkNTzo4G47oDgBmILrjorruZThcnyO6A4AZzj5ItdurYjvXa3Xdvx9uuGu+d7/icJfcWXR3v/+yFIvk6pronpID6IPoDgBmaD/52V01dFcQMV33+Fxw9p2mWcPpd0R3ADAD0T2AmxqccUR3HNF9ceeCu84B9EF0BwAzEN1xUZ2mWcPpd0R3ADAD0T2AmxqccUR3HNF9ceeCu84B9EF0BwAzEN1xUZ2mWcPpd0R3ADAD0T2AmxqccUR3HNF9ceeCu84B9EF0BwAzEN1xUZ2mWcPpd0R3ADAD0T2AmxqccUR3HNF9ceeCu84B9EF0BwAzEN1xUZ2mWcPpd0R3ADAD0T2AmxqccUR3HNF9ceeCu84B9EF0BwAzEN1xUZ2mWcPpd0R3ADAD0T2AmxqccUR3HNF9ceeCu84B9EF0BwAzEN1xUZ2mWcPpd0T3BMmyTFarVezDuJrj8Rj7EGBhCpH/u4ymduU2tcZrdY234larlTw+PoplqqqS3W73ZXbdxwZ3m47oHsC5WHHN16qqzn5GM1mWSZ7n3/8g3CRE9wRZrVby8PAgVVXJ6+tr7MMZRbM6rKpKXl5eYh8OLAzRPVHX3TLGOpaxs3HpOkOui7PviO4JUhRFu8Kytkppjv10Oslut4t9OLAwhduNLj3rwu3he1WxFSwfO1xH0V2y+7YOWhyEw7ftjsWYmRDpbBEUzSdufteusNwf6KLJQRi0rVKmPP59vwPuNh3RPWHnY677zfNcNpuNPD09ye/fv+Xp6Uk2m4131dQ3G77b1jCnOKI7zMTS0b0oCtlut95nz7quZb/fD37VOtE9bYjuibLklnC73Uqe51KWpby/v0tVVbJareTXr19yd3cn9/f3o06c2razsBxE90Txbbvn4MePH5JlmVRVJfv9vr2/4/Eo+/1eHh8fJc9zubu7k8Ph0F6P6I7zOaJ7oiy1SimKf//31+fnp/f+yrKUnz9/SlEUUpal9xgvQXRPzxHdE3Y+5riP7hD2Pa7fzYbvdjTMKW4Z92VL6Ps+tuOkNY/z/X3nuN+qqqSua1mv1/L5+fnlfrMsk/V6LXVdtz/Xd3xDTlq423ZE90RZakt4OBzaLd9ms5H39/d21jabjaxWKzmdTnI4HAYfC9E9XYjuidK3wgp9P3///pX7+3tZr9eyXq/ldDq1bxFT17W8vb0NnonusWuaTxzR/cxBGJZcpZRlKa+vr+2KqjlZHY/H9mUOUx5/ont6juiesPMx1/0277212+3k5eVFdrvdlxeMDp0N321rmFMcr3SHmeDtZcAqRPdEsRyuLR87XAfRPVF82+5YjJkJEaJ7yo7onijaVilEd9wQR3RP2PmY+36bD5FoPhdx7Gz4blvDnOKI7jATsaK7+zYzdT3ubWXc2yC6pwvRPVGW3hKuVqv2bWaaF45ut1vZ7/ejPxtR23YWloPonii+bfdYsixrX73uvnVMF3dldTgc2le+N9630iK643yO6J4oIVYp6/W6fZvj5sTTxV1ZHQ4HeXt7ExGR/X4v2+1W7u7uLq60iO64riO6J+x8DL2ue7Kq67o98bhcOlk1t7ff76Usy3Z7uFqtvp0N33FpmFMc0R1m4pro3mwDN5uNiIh8fHxIWZbtlq95J9HmZJVlmZRl6f0fnJvb2263UhSF1PX3IZ7onjZE90SZuiXsnqw+Pj5E5OsW7+HhQfI8P1tZXbqvIdvDEMcO9iG6J4pv292Hb2X18fHRXr9ZWTVbOxFpT1bf3UeWZe11vwvx3WPXNJ84ovuZgzCMXaVcWlm5128+aKLpVmPvI+RKC3ebjuiesPPh+zk3sHdXVt3rNiet0+nkDfHd++g+1t0Qn+f5l9nw3Y6GOcUR3WEmhkZ33zbw/f198H10Q/zQk2YT4uv6/N1Iie5pQ3RPlCHbNd82cOiMuNtDd4s3FPdnL2UL5jU9iO6J4tt2N3wX2Ifihng3pl8zE91j1zSfOKL7mYMw9K1ShgT2oQxdaU15/Inu6Tmie8LOx5jAPtT1hfixs+G7Pw1ziiO6w0z0RffmhDImsI+536kh3r0Nonu6EN0T5dJ26ng8ysvLi5xOp+DzcG2IbyC6pwvRPVF82+6Gse9PNQY3xPdt+YnuOJ8juidKzFVK8xmFp9Pp7HhciO64riO6J+x8LHUszclq7Gz4blvDnOKI7jATfJAqWIXoniiWw7XlY4frILonSvME1bwVjBWadyUVIbqn6IjuiZJlmeR5Lg8PD1/+zs1waHeu1zSfuHld0XzTfbZqvo/t+rasuOluzpcuLMHpdDqbE22zi5vhfEB0BwArEN0BwAxEd4iOphnD6XbZ8/MzZwUAMAGvdMdFdZpmDaffEd0BwAxEdwAwA9EdoqNpxnC6HdEdAMxAdMdFdZpmDaffEd0BwAxEdwAwA9EdoqNpxnC6HdEdAMxAdMdFdZpmDaffEd0BwAxEdwAwA9EdoqNpxnC6HdEdAMxAdMdFdZpmDaffEd0BwAxEdwAwA9EdoqNpxnC6HdEdAMxAdMdFdZpmDaffEd0BwAxEdwAwA9EdoqNpxnC6HdEdAMxAdMdFdZpmDaffEd0BwAxEdwAwA9EdoqNpxnC6HdEdAMxAdMdFdZpmDaffzRLd2QoCwBy00X0OfLc91dX1+T8KaHIAMD9fovscK6OQTsMWps/BNLQEXZx+R3QHADNMju7dy+dy3ctwt+VizRXOpiO6A4AZiO6BHADMD9E9oINpaAm6OP2O6A4AZiC646I6TUEXp98R3QHADET3QA4A5ofoHtDBNLQEXZx+R3QHADMQ3XFRnaagi9PviO4AYAaieyAHAPNDdA/oYBpagi5OvyO6A4AZiO64qE5T0MXpd0R3ADAD0T2QA4D5IboHdDANLUEXp98R3QHADER3XFSnKeji9DuiOwCYgegeyAHA/BDdAzqYhpagi9PviO4AYAaiOy6q0xR0cfod0R0AzEB0D+QAYH6I7gEdTENL0MXpd0R3ADAD0R0X1WkKujj9jugOAGYgugdyADA/RPeADqahJeji9DuiOwCYgeiOi+o0BV2cfvcfZD2NjLx4hp4AAAAASUVORK5CYII=')
}
div.container{
    margin:.5rem;
}

div.img{
    background-size: cover;
    height:200px;
}

#talks li iframe{
    margin-left: 10px;
}
#talks img,
.talk-title,
.talk-description{
    cursor: pointer;
}
h1,
.talk-title,
.modal__title{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 1.3rem;
}
html,body{
    width: 100%;
}
body{
    font-family: 'Courier New';
    margin: 1.5rem 0 0;

}
.talk-title{
    text-align: center;
    line-height: 1.5rem;
    text-transform: uppercase;
    background-color: #DB4367;
    color: white;
    margin-top: 0;
    margin-top: -4px;
    padding: .5rem;
}
.talk-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: .85rem;
    padding: 0 1rem;
    line-height: 1.25rem;
    text-align: center;
}
.fb-buttons{
    text-align: center;
    height:68px;
    margin-bottom: 1rem;
}
.acenter{
    text-align: center;
}
.intro{
    line-height: 1.5rem;
    /* margin-bottom: 2rem; */
    margin: 0 .5rem 2rem;
}
.intro strong{
    background-color: #DB4367;
    color: white;
}
#modal-content strong {
    margin-top: 1rem;
    display: inline-block;
}
/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#categoryFilter,
#categoryFilter li{
    display: inline-block;
}
#categoryFilter{
    margin: 0;
    padding: 0;
}
#categoryFilter li{
    margin-bottom: .5rem;
    list-style: none;
    border: 1px solid #ccc;
    padding: 3px 5px;
    cursor: pointer;
}
#categoryFilter li.active{
    background-color: #DB4367;
    color: white;
}
.link{
    color:rgb(0, 0, 238);
    text-decoration: underline;
}
.hide{
    display: none !important;
}
.showMobile{
    display: none;
}

@media (max-width: 500px) {
    #talks li{
        /* border: 1px dotted #ccc; */
        width: 100%;
    }
    .intro{
        line-height: 2rem;
    }
    .hideMobile{
        display: none;
    }
    .showMobile{
        display: block;
    }
}
